body{
    color: gainsboro;
    background-color: rgb(40, 38, 38);
    /* background:linear-gradient(to bottom rgb(68, 67, 67),rgb(97, 94, 94)); */
}

.navbar{
    height: 100px;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: space-around;
    align-items: center;
    /* width: 100%; */
}
.port{
    /* margin-left: 50px; */
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: underline;
    animation: port 5s ease-in-out 5;
}
.myportfolio{
    font-size:1.5 rem;
    color:darkgray;
    animation: glow 2s ease-in-out infinite alternate;
    transition: transform 0.5s ease;
}
.myportfolio:hover{
    transform: scale(1.1);
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px rgb(171, 73, 73);
    }
    100% {
        text-shadow: 0 0 5px rgb(35, 168, 195), 0 0 10px rgb(133, 34, 34);
    }
}

@keyframes port{
    0%{
        /* text-shadow: 0 0 15px rgb(215, 212, 212); */
        transition: 0.5s;
    }
    100%{
        /* text-shadow: 0 0 15px rgb(9, 190, 235); */
    }
}
.links{
    /* margin-right: 130px; */
    word-spacing: 20px;

}
.links a{
    text-decoration: none;
    color: rgb(218, 125, 210);
}
.links a:hover{
    color: rgb(237, 7, 7);
    font-size: large;
    animation: list 5s ease-in-out 5;
}

@media (max-width:  767px){
    .navbar{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .port {
        margin: 0;
    }
    .links {
        display: none;
    }
}

.hello{
    font-family:Arial, Helvetica, sans-serif;
}

.head1{
    /* font-size: 3rem; */
    color: rgb(207, 207, 39);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    transition: color 0.4s ease,
    transform 0.1s ease,
    letter-spacing 0.4s ease,
    text-shadow 0s ease;
    cursor: pointer;
    animation: webdeveloper 3s ease-in infinite,
               blink 0.5s step-end infinite,
               typing 4s steps(25, end) forwards, blink 0.7s step-end infinite;

    
      white-space: nowrap;
      overflow: hidden;
      border-right: 2px solid black;
      width: 0; /* Will be animated */
      /* animation: typing 4s steps(25, end) forwards, blink 0.7s step-end infinite; */
}


@keyframes webdeveloper {
  0% {
    transform: translateY(0);
    /* text-shadow: 0 0 5px #ac4120; */
    color: #d9dc12;
    opacity: 0.5;
  }
  50% {
    transform: translateY(-10px);
    /* text-shadow: 0 0 10px #85513a; */
    color:rgb(26, 252, 229);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    /* text-shadow: 0 0 5px #f7f2f2; */
    color: rgb(221, 236, 9);
    opacity: 0.5;
  }
}


@keyframes typing {
      from { width: 0 }
      to { width: 100% } /* Adjust to number of characters */
    }

    @keyframes blink {
      50% { 
        border-color: transparent ;
        color: #0cf6f6;
    }
      
    }

.details{
    display:flex;
    justify-content: space-around;
    align-items: center;
    /* gap:30px; */
    width: 100%;
   
}

.button{
    /* border: 3px solid rgb(104, 41, 41); */
    /* margin: 0 200px; */
    text-align: center;
    
}
button:focus{
    color: aquamarine;
    background-color: #00cccc;
}

.button button {
    border: 3px solid rgb(104, 41, 41);
    font-weight: bold;
    border-radius: 10px;
    
}


.block1{
    display: flex;
    /* margin-top: 20px; */
    justify-content: space-around;
    align-items: center;
}



.image1 {
    width: 48%;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}
.image1 img{
    height:320px;
    width:100%;
    
    /* margin-right: 100px; */
    /* border: 2px solid rgb(4, 4, 4); */
}

.content{
    width:48%;
    height: 400px;
    /* margin-left: 50px; */
    /* border: 1px solid black; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* border: 2px solid black; */
    /* height:320px; */
}

.content1 {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px){
    .block1 {
        display: flex;
        flex-wrap: wrap;
    }

    .content {
        width: 95%;
        text-align: center;
    }

    .image1 ,.image1 img{
        width: 100%;
        text-align: center;
    }
    .button{
        text-align: center;
        margin: 0%;
    }
}

@media (min-width: 767px) and (max-width:1024px){
    .block1{
        display: flex;
        justify-content: space-around;
    }
    .image1{
        width:38%;
    }
    .image1 img{
        width:100%;
    }
    .content{
        width:50%;
        /* text-align: center; */
        
    }
}




.personal{
    display: flex;
}

.block2{
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* width: 100%; */
}

.image2 {
    width: 48%;
    /* border: 1px solid black; */
    margin-left:10%;
    /* height:400px; */
    margin-top: 3%;
   
}

.image2 img{
    /* border: 2px solid rgb(15, 15, 15); */
    width:70%;
    height:400px;
     border-radius: 50%;
}

.main {
    width: 48%;
    /* border: 1px solid rgb(11, 11, 11); */
    /* height:400px; */
    /* margin-left: 5%; */
}
.who{
    color:rgb(104, 203, 210);
    font-family: sans-serif;
}

@media(max-width: 767px){
    .block2 {
        display: flex;
        flex-wrap: wrap;
    }

    .image2,.image2 img {
        width: 80%;
        text-align: center;
        align-items: center;
        
    }
    .main {
        width: 100%;
        text-align: center;
    }
}

@media(min-width: 767px) and (max-width: 1024px){
    .block2 {
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: space-around;
    }
    .image2 {
        width:48%;
        margin: 0%;
    }
    .image2 img {
        width: 100%;
    }
    .main {
        width: 48%;
        text-align: center;
    }
}

.para{
    word-spacing: 3px;
    line-height: 25px;
}
.information{
    position:absolute;
    right: 65px;
    top:650px;
    
}
.but {
    /* position: absolute; */
    /* right:300px; */
    border: 3px solid rgb(132, 72, 72);
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.but a{
    color:rgb(32, 8, 55);
}


.btn1 {
    text-align: center;
    
}
.html{
    transition: color 0.4s ease,
    transform 0.1s ease,
    letter-spacing 0.4s ease,
    text-shadow 0s ease;
    animation: html 3s ease-in infinite;
    
}
@keyframes html {
  0% {
    transform: translateY(0);
    text-shadow: 0 0 2px #467e78;
    /* color: #d23d0b; */
    opacity: 0.8;
  }
  50% {
    transform: translateY(-10px);
    text-shadow: 0 0 5px #864141;
    /* color:#1826dc; */
    opacity: 1;
  }
 
}
.css{
    font-family: sans-serif;
    text-decoration: underline;
}

.ser{
    padding-left: 50px;
    margin-top: 5%;
    font-size: rem;
    color: darkgray;
    animation: ser 2s ease-in-out infinite alternate;
    
}

@keyframes ser {
    0% {
        text-shadow: 0 0 5px rgb(171, 73, 73);
    }
    100% {
        text-shadow: 0 0 5px rgb(35, 168, 195), 0 0 10px rgb(0 0 0);
    }
}


.web{
    /* border: 2px solid black; */
    height:200px;
    /* width:250px; */
    width: 20%;
    text-align: center;
    border-radius: 20px;
    padding-top: 25px;
    box-shadow: 0 0px 15px rgb(114, 139, 203);
    line-height: 25px;

    transition: color 0.4s ease,
    transform 0.1s ease,
    letter-spacing 0.4s ease;
    

}
.web:hover{
    transform: translateY(-13px);
    transition: 0.5s;
}




.services{
    display: flex;
    /* margin-left: 4%; */
    /* gap:50px; */
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width:767px) {
    .ser{
        text-align: center;
       
    }
    .services{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        margin: 0%;
    }
    .web{
        width: 90%;
        text-align: center;
        animation: html 3s ease-in infinite;
        margin: 10px 0;
    }

    
}

@media (min-width:768px) and (max-width:1024px){

    .web {
        width: 23%;
    }
}
.myproject{
    padding-left: 50px;
    font-size: rem;
    color:darkgray;
    animation: glow 2s ease-in-out infinite alternate;
}
    

@keyframes glow {
    0% {
        text-shadow: 0 0 5px rgb(171, 73, 73);
    }
    100% {
        text-shadow: 0 0 5px rgb(35, 168, 195), 0 0 10px rgb(0, 0, 0);
    }
}


.projects{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-left: 10%; */
    /* gap:100px; */
    /* padding: 10px; */
    

    
}

.project1,.project2{
    height: 300px;
    width:35%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-top: 25px;
    box-shadow: 0 0px 15px rgb(114, 139, 203);
    line-height: 25px;

    transition: color 0.4s ease,
    transform 0.1s ease,
    letter-spacing 0.4s ease;
    /* animation: bounceIn 1.2s ease forwards; */
}

@media(max-width: 767px){
    .project1, .project2 {
        /* width: 45%; */
        animation: bounceIn 1.2s ease forwards;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 90%;
        margin:10px 0;
        
    }
}

@keyframes bounceIn {
  0% {
    opacity: 0.5;
    transform: scale(0.8) translateY(30px);
  }
  60% {
    opacity: 1;
    transform: scale(1.05) translateY(-10px);
  }
  100% {
    transform: scale(1) translateY(10px);
  }
}

.project1:hover,.project2:hover{
    transform: translateY(-13px);
    transition: 0.5s;
    animation: bounceIn 1.2s ease forwards;
}


.safe{
    font-family:sans-serif;
    /* height:100px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; */
}


.but_safety{
    border: 3px solid rgb(132, 72, 72);
    border-radius: 10px;
    
    box-shadow: 0 5px 15px rgba(132, 34, 34, 0.5);
    background-color:white;
    transform: scale(1.05);
    transition: all 0.3s ease;
}
.but_safety:focus{
    color: black;
    
}
.but_smart{
    border: 3px solid rgb(132, 72, 72);
    border-radius: 10px;

    box-shadow: 0 5px 15px rgba(132, 34, 34, 0.5);
    background-color:white;
    transform: scale(1.05);
    transition: all 0.3s ease;
    
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  75% { transform: translateX(-2px); }
}

.button button:hover, .but_smart:hover, .but_safety:hover {
  animation: shake 0.5s ease;
}

@media(max-width:767px){
    .myproject{
        text-align: center;
    }
    .projects{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        margin: 0%;
    }
    
}




.foot {
  margin: 15px 0;
  padding: 0;
  background-color: #282626;
  font-family: Arial, sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.contact-form {
  width: 90%;
  max-width: 500px;
  padding: 30px;
  background-color: #111;
  text-align: center;
}

.contact-form h2 {
  /* color: #00ffff; */
  color: #91c7c7;
  margin-bottom: 30px;
  font-size: 32px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  background-color: #222;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #999;
  font-family: monospace;
}

.contact-form button {
  width: 100%;
  padding: 15px;
  background-color:#91c7c7;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background-color: #00ffff;
}

.font{
    word-spacing: 30px;
}

/* .block4{
    
    height:300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.designer{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.develop{
    padding-left: 20px;
    opacity: 0.5;
}

.font{
    word-spacing: 30px;
}
@media (max-width:767px){
    .block4{
        text-align: center;
        width:100%;
        margin: 0;
    }
    .headings{
        width:100%;
        text-align: center;
    }
    .font{
        text-align: center;
        width:100%;
    }
}  */
 



