.query 
{     border: 2px solid black;
      animation: query 5s ease-in 5;
      text-align: center;
      margin: 0 30%;
      margin-top: 10%;
      border-radius: 100px;
}
@keyframes query{
    0%{
        background: linear-gradient(rgb(221, 193, 179),rgb(231, 78, 78));
    }
    100%{
        background: linear-gradient(skyblue,rgb(137, 230, 16));
    }
}
h1{
    text-align: center;
    text-decoration: underline;
    animation: heading 3s ease-in 5;
}
@keyframes heading{
    0%{
        text-shadow: 0 0 5px yellow;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       
    }
    100%{
        text-shadow: 0 0 5px rgb(170, 4, 235);
        font-family:sans-serif;
        /* cursor: pointer; */
    }
}
.social{
    justify-content: center;
    gap:20px;
    text-align: center;
    align-items: center;
}

@media (max-width:767px){
    
    h1{
        text-align: center;
        font-size: 25px;
        
    }
    .social{
        text-align: center;
        width: 100%;
        

    }
}